:root {
  --background-color: linear-gradient(#1e2638ff 0%, #82c2d2ff);
  --primary-color: linear-gradient(111.5deg, rgb(228, 247, 255) 21.9%, rgb(255, 216, 194) 92.2%);
}


body{
  background: var(--background-color);
}

.App {
    max-width: 600px; 
    margin: 30px auto;
}

.App .Weather{
  background: var(--primary-color);
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.App footer{
  font-size: 11px;
  margin: 10px 0;
  text-align: center;
  color: white;
}
.App footer a {
  background: none;
  color: grey;
  text-decoration: none;
}

.App footer a:hover {
  color: white;
  text-shadow: white;
}
