body {
  color: black;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App footer a {
  background: none;
  color: grey;
  text-decoration: none;
}

.App footer a:hover {
  color: white;
  text-shadow: white;
}
