:root {
  --background-color: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);;
  --primary-color: linear-gradient(111.5deg, rgb(228, 247, 255) 21.9%, rgb(255, 216, 194) 92.2%);
  --box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}


body{
  background: var(--background-color);
}
.container{
  margin: 0 auto 300px;
}

h1, ul{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.App {
    max-width: 600px; 
    margin: 30px auto;
}

.App .Weather{
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.App footer{
  font-size: 13px;
  margin: 10px 0;
  text-align: center;
  color: white;
}
.App footer a {
  background: none;
  color: rgb(175, 175, 175);
  text-decoration: none;
}

.App footer a:hover {
  color: white;
  text-shadow: var(--box-shadow);
}